/* General Styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
}

#main-container {
  animation: expandWidth 0.5s ease-out forwards;
  background-color: #f0f0f0;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: calc(100% - 20px);
  margin: 10px;
  overflow: hidden;
  width: calc(100%);
}

/* Animation Keyframes */
@keyframes expandWidth {
  from {
    width: 0;
  }

  to {
    width: calc(100% - 50px);
  }
}

@keyframes expandCollapseWidth {
  from {
    width: 0;
  }

  to {
    width: 70px;
  }
}

@keyframes expandCollapseHeight {
  from {
    height: 0;
  }

  to {
    height: calc(70px);
  }
}

@keyframes collapseWidth {
  from {
    width: calc(100% - 50px);
  }

  to {
    width: 0px;
  }
}

/* State-specific Styles */
.collapsing #main-container {
  animation: collapseWidth 0.3s ease-out forwards;
}

.sliding-container {
  background-color: #f0f0f0;
  height: 100%;
  position: relative;
  will-change: transform;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.expanding #expand-container,
.re-expanding #expand-container {
  display: none;
}

.collapsing #expand-container {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  animation: expandCollapseWidth 0.3s ease-out forwards, expandCollapseHeight 0.3s ease-out forwards;
  animation-delay: 0.4s;
}

#expand-button {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  text-align: center;
}

#expand-button svg {
  margin: 0 auto;
}